body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image:linear-gradient(rgba(255, 255, 255, 0.849),rgb(0, 174, 255)), url(../mini-projet/FB_IMG_1767124903835.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
@media (max-width: 768px){
    .table{
        font-size: 0,85rem;
    }
    .p-3{
        font-size: 0,85rem;
    }
    .p-1{
        font-size: 0,85rem;
    }
}
.mb-5{
    display: block;
    animation: fadelnUp 0.6s ease-out forwards;
}
.stat-box{
    text-align: center;
    justify-content: center;
    align-items:center;
}
.stat-box:hover{
    transform: translateY(-5px);
}
.navbar {
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: auto;
    background-color:skyblue;
    font-family:serif;
    position: fixed;
    z-index: 11;
}
.search{
    animation: fadelnUp 0.6s ease-out forwards;
    border-radius: 1px;
    width:fit-content;
    border: 2px solid black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}
.search:hover{
    background-color: black;
    color: white;
}
input{
    background-color: transparent;
}
input:hover{
    color:white;
    background-color: black;
}
footer p{
    color: rgb(4, 35, 80);
    background-color: transparent;
    border-top: 2px solid grey;
    text-align: center;
    font-size: 16px ;
}

@keyframes fadelnUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.table tbody  :hover{
    transform:translateY(-5px);  
    color: white;
    background-color: black;
}
.table{
    border: 2px solid white;
}
.p-1{
    animation: fadelnUp 0.6s ease-out forwards;
}
table{
    text-align: center;
}

.title a{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 2px;
}
.title a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border: solid white;
}