body{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(sylain.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
          
        }
        .container-wrapper {
            background-color:rgb(20, 36, 84);
            border-radius: 50px;
            background-position-x: cover;
            padding : 50px;
            margin : 50px;

        }
        .form-group {
            margin-bottom: 24px;
            align-items: center;
        }
     input {
            width:100%;
            padding: 12px 16px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            outline: none;
            transition: box-shadow 0.2s;
        }
        label {
            display: block;
            color: white;
            margin-bottom:5px;
            font-size: 30px;
         
            }

        input-wrapper {
            position: relative;
            background-attachment: fixed;
        }
       
        input:focus {
        box-shadow: 0 0 0 3px rgba(147, 197, 253, 0.5);
        }
        .submit-btn {
            width:250px;
            background-color:rgb(0, 57, 143);
            color: skyblue;
            padding: 16px;
            border-radius: 8px;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
        .header {
            margin-bottom: 20px;
        }
  