{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../images/entr%C3%A9.jpg);
    display: flex;
    justify-content:center;
    align-items:center;
    background-position: center;
    background-size: cover;
}

.defilement {
    width: 100%;
    overflow: hidden;
    color: white;
}

.defilement p{
    white-space: nowrap;
    display: inline-block;
    animation: glissement 10s linear infinite;
    color: white;
}

@keyframes glissement{
    0% { transform: translateX(100%);}
    100% { transform: translateX(-100%);}
}



.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.login-container h2 {
    margin-bottom: 10px;
    color: #0059ff;
}


.login-container p {
    margin-bottom: 25px;
    color: #555;
    font-size: 14px;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
}


.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
}

.form-group input:focus {
    border-color: #1e3c72;
}


.btn {
    color: whitesmoke;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease; /* Animation fluide */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    background-color: blue;
    position: relative;
  }
  
.btn:focus {
    outline: none;
}


.btn::before{

content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: white;
border-radius: 8px;
transform: scaleX(0);
transform-origin: bottom;
transition: transform .3s;
} 


.btn :hover ::before{
    transform: scaleX(1);
    transform-origin: bottom;
}


.btn span{
    position: relative;
    z-index: 1;
}



.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
}

.remember-forgot a , .register-link a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

.remember-forgot a:hover , .register-link a {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}

.defilement p{
    color: white;
}

.form-group label{
    color: white;
}